<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>ProfilePage</title>
    <link rel="stylesheet" th:href="@{/styleNav.css}">
    <script type="text/javascript" defer th:src="@{/JS/PopUP.js}"></script>
</head>

<body>
    <nav th:replace="~{template.html :: navigation}"> </nav>

    <div th:object="${user}">
        <div class="profile-main">
            <div>
                <span class="column100px">Name </span>
                <span th:text="*{name}"></span>
            </div>

            <div>
                <span class="column100px">Role </span>
                <span th:text="*{role}" ></span>
            </div>

            <div>
                <span class="column100px">Address </span>
                <span th:text="*{address}"></span>
            </div>

            <div>
                <span class="column100px">Balance </span>

                <span>
                    <span th:text="*{balance}"></span>
                    <button sec:authorize="hasAuthority('Buyer')" id="addBalanceButton"> Tambah dana</button>
                </span>

            </div>
        </div>

        <div class="popUp-main" id="modal" >
            <div class="headTamabahDana">Tambah Dana </div>
            <form class="popUp" th:action="@{/profile/addBalance}" method="post">

                <div class="errorMassage" th:text="${error}"></div>
                <input class="addbalancess" type="number" name="addbalances">

            <div class="buttonPoup">
                <button type="submit">Tambah</button>
            </div>
            </form>
                 <button id="cancel">Cancel</button>
        </div>

    </div>
</body>
</html>