<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addShipment</title>
    <link rel="stylesheet" th:href="@{/styleNav.css}">
</head>
<body>
    <nav th:replace="~{template.html :: navigation}"></nav>

    <div class="form-merchandise-container">

        <form class="form-merchandise" th:action="@{/shipment/saveShipment}" th:object="${shipment}" method="post">

            <div>
                <label></label>
                <input type="hidden" th:field="*{id}">
            </div>

            <div>
                <label class="column-form-merchandise" > Name</label>
                <input type="text" th:field="*{shipmentName}">
            </div>

            <div>
                <label class="column-form-merchandise" >Price</label>
                <input type="text" th:field="*{price}">
            </div>

            <div class="description">
                <label class="column-form-merchandise" >Service</label>
                <input type="checkbox" th:field="*{service}"></input>
            </div>

            <div >
                <button type="submit">Save</button>
            </div>

        </form>
        <a th:href="@{/shipment/showShipment}"> <button class="button-Cancel">cancel</button></a>
    </div>

</body>
</html>