@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');

*{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
}
body{
    width: 700px;
    margin: 0 auto;
    /*background-image:url("Gambar/blob-scene-haikei.png");*/
}
.form{
    border: black 2px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 140px auto;
    row-gap: 10px;
    width: 400px;
    align-items: center;
}
 label > input{
     height: 30px;
     width: 200px;
     border-radius: 15px;
     padding-left: 10px;
     /*background-color: #2c4d96;*/

}
 input[type="text"]::-webkit-input-placeholder,input[type="password"]::-webkit-input-placeholder{
     color: black;
 }
 label > textarea{
     color: black;
 }

input[type="password"]::-webkit-input-placeholder{
    color: black;
}

 label > select{
     height: 30px;
     width: 216px;
     border-radius: 15px;
     text-align: center;
     /*background-color: #2c4d96;*/
 }
.btn-login{
   height: 30px;
    width: 216px;
    border-radius: 15px;
    background-color: #E94560;

}
.errorMassage{
    color: red;
    margin: 10px;
    font-weight: bolder;
}
.role-1{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.linka{
    text-decoration: none;
    color: black;
}

