<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>loginPage</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <form class="form" th:action="@{/authenticateTheUser}" method="post">
<!--        <div class="error" th:if="${param.error}">Invalid username & password</div>-->
        <div th:text="${session.SPRING_SECURITY_LAST_EXCEPTION?.message}" class="text-red-700"></div>
        <label>
            <input type="text" name="username" placeholder="User Name">
        </label>
        <label>
            <input type="password" name="password" placeholder="Password">
        </label>

       <label>
            <select name="role">
                <option th:value=null>No Specific Role</option>
                <option th:each="option : ${roleDropdown}" th:value="${option.stringValue}"
                        th:text="${option.text}" th:selected="${option.stringValue == role}"/>
            </select>
       </label>

            <button class="btn-login" type="submit">Login</button>
            <a class="linka" th:href="@{/account/addAccount(role='Buyer')}">click here to register as Buyer</a>
             <a class="linka" th:href="@{/account/addAccount(role='Seller')}">click here to register as Seller</a>
             <a class="linka" th:href="@{/account/addAccountAdmin(role='Administrator')}">click here to register as ADMIN</a>

    </form>
</body>
</html>