<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<form
        class="form"
        method="post"
        th:action="@{/account/saveAccount}"
        th:object="${account}">

    <div th:errors="*{username}" ></div>
    <label>
        <input type="text" th:field="*{username}" placeholder="Username" />
    </label>

    <label>
        <input type="hidden" th:field="*{role}" />
    </label>

    <label>
        <input type="password" th:field="*{password}" placeholder="Password" />
    </label>

    <label>
        <input type="text" th:field="*{firstName}" placeholder="First Name" />
    </label>

    <label>
        <input type="text" th:field="*{lastName}" placeholder="Last Name" />
    </label>

    <label>
        <input type="text" th:field="*{phoneNUmber}" placeholder="Phone Number" />
    </label>

    <label>
        <textarea  th:field="*{address}" placeholder="Address"></textarea>
    </label>

<!--    <input type="password" th:field="*{passwordConfirmation}" placeholder="Password Confirmation" />-->
    <button type="submit">Sign Up</button>

</form>

</body>
</html>