<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
  <link rel="stylesheet" th:href="@{/styleNav.css}">
</head>
<body>
  <nav th:replace="~{template.html :: navigation}"></nav>

  <div>
    <form class="ShopIndex" th:action="@{/shop/shopIndex}">

      <div>
        <label class="SearchProduct">Name</label>
        <input name="key1">
      </div>

      <div>
        <label class="SearchProduct">Category</label>
        <input name="key2">
      </div>

      <div>
        <label class="SearchProduct">Description</label>
        <input name="key3">
      </div>

      <button type="submit">Search</button>
    </form>

  </div>

  <div>
    <table class="tabel-Product">
      <thead>
      <tr>
        <th> </th>
        <th>Name</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${allProduct.isEmpty}">
        <td>no data availabel</td>
      </tr>
      <tr th:unless="${allProduct.isEmpty}" th:each="d : ${allProduct}" >
        <td>

          <span class="button-merchandise">
            <a th:href="@{/merchandise/infoProduct(id=${d.id})}">
              <button class="info"> Info </button>
            </a>
          </span>

          <span class="button-merchandise">
            <a th:href="@{/merchandise/infoProduct(id=${d.id})}">
              <button class="cartt">Add to Chart</button>
            </a>
          </span>

        </td>
        <td class="cap" th:text="${d.name}"></td>
        <td class="cap" th:text="${d.price}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="AddToCart">
    <form  th:action="@{/cart/saveCart}" th:object="${cart}" method="post">

        <input type="hidden" th:field="*{id}">

        <input type="hidden" th:field="*{productId}">

        <input type="hidden" th:field="*{buyerId}">

        <div>
          <label class="popUPCart" >Quantity</label>
          <input name="quantity" type="number" th:field="*{quantity}">
        </div>

        <div>
          <label class="popUPCart">Shipment</label>
          <select th:field="*{shipmentId}" >
            <option th:value=null>Choose the shipment</option>
            <option th:each="option : ${shipment}" th:value="${option.id}"
                    th:text="${option.shipmentName}"/>
          </select>
        </div>

      <div >
        <button type="submit">Save</button>
      </div>

    </form>
    <div >
      <button class="cancelCart">cancel</button>
    </div>
  </div>



  <div class="info-container">
    <div>
      <span class="spanInfo" >Name</span>
      <span></span>
    </div>
    <div>
      <span class="spanInfo" >Category</span>
      <span></span>
    </div>

    <div>
      <span class="spanInfo">Description</span>
      <span></span>
    </div>

    <div>
      <span class="spanInfo" >Price</span>
      <span></span>
    </div>

    <button class="cancel">cancel</button>
  </div>


  <script>

    async function getData(url) {

      const response = await fetch(url);
      const data = await response.json();
      const infoContainer = document.querySelector(".info-container");

      infoContainer.style.transform = "scale(1)";

      let cancel = document.querySelector(".cancel")
      cancel.onclick = function (){
        infoContainer.style.transform = "scale(0)";
      }

      infoContainer.children[0].children[1].textContent = data.name;
      infoContainer.children[1].children[1].textContent = data.category;
      infoContainer.children[2].children[1].textContent = data.description;
      infoContainer.children[3].children[1].textContent = data.price;

    }

    const btnInfo = document.querySelectorAll(".info");
    if (btnInfo != null) {
      btnInfo.forEach( btn => {
        btn.addEventListener("click", (e) => {
          e.preventDefault(); //  supaya pas di click  tidak web tidak me reaload
          const url = btn.parentElement.href;
          getData(url)
        })
      })

    }


    async function cartData(url){
      const response = await fetch(url);
      const dataCart = await response.json();
      const cartProduct = document.querySelector(".AddToCart");

      cartProduct.style.transform = "scale(1)";

      let cancel = document.querySelector(".cancelCart")
      cancel.onclick = function (){
        cartProduct.style.transform = "scale(0)";
      }

      cartProduct.children[0].children[2].value = dataCart.id;
      // cartProduct.children[3].value = dataCart.;

    }

    const btnaddCart = document.querySelectorAll(".cartt");
    if (btnaddCart != null) {
      btnaddCart.forEach( btn => {
        btn.addEventListener("click", (e) => {
          e.preventDefault(); //  supaya pas di click  tidak web tidak me reaload
          const url = btn.parentElement.href;
          cartData(url)
        })
      })

    }

  </script>

</body>
</html>